* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 1080px;
    margin: 0 auto;
    background-image: url(images/butterfly2.png);
    background-color: black;


}
header {
    z-index: 1;
    padding: 0;
}

.navmenu li {
    display: inline;
    margin-right: 50px;
    font-size: 50px;
    padding-bottom: 0;
    padding-top: 0;
}
.navmenu li:last-child {
    margin-right: 20px;
}

.navmenu li:hover {
    background-color: #553454;
    color: black;
}

li a {
    text-decoration: none;
    color: chartreuse;
    font-weight: 600;
    text-shadow: -2px -2px saddlebrown;
   
}
li a:hover {
    color: black;
}

main {
    height: 800px;
}
.article {
    width: 1000px ;
    height: 200px;
}

.intro p {
    font-size: 18px;
    text-align: justify;
    font-family: 'Rock Salt', cursive;
    color: wheat;
}
.intro p:hover {
    background-color: wheat;
    color: black;

}

.smd {
    width: 180px;
    position: relative;
    right: 230px;
    bottom: 200px;
}

.smd figure img {
    width: 180px;
    box-shadow: 0 0 5px salmon;
}
.smd figure figcaption {
    color: antiquewhite;
    font-size: 25px;
    text-transform: uppercase;
}
.trees {
    position: relative;
    left: 1000px;
    bottom: 510px;
    width: 270px;
    height: 400px;
    text-align: center;
}
.trees img {
    margin: 0%;
    padding: 0%;
    width: 250px;
    height: 350px;
}
.trees p {
    padding: 0%;
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
    color: wheat;
    text-shadow: -2px -2px salmon;
    padding: 0;
    margin: 0;
    background-color:#22c1c3;
    border: #22c1c3;
    border-radius: 30px;
    box-shadow: 0 0 4px salmon;
    background-image: url(images/color\ splash\ bg\ b.png);
    background-size: contain;
}
.form {
    width: 500px;
    position: relative;
    bottom: 150px;
    left: 100px;
    background-image: url(images/leaves.png);
    
    
}
fieldset {
    background-size: contain;
    background-color: salmon ;

}


p label {
    font-size: 20px;
    font-weight: 800;
    color: saddlebrown;
    text-shadow: -1px -1px yellowgreen;
}
legend {
    font-size: 30px;
    color: wheat;
    border: 2px solid slateblue;
    border-radius: 10px;
    background-image:linear-gradient(330deg, #22c1c3, #fdbb2d );
    text-shadow: -1px 0 0 yellowgreen;
    font-weight: 600;
}

input {
    font-size: 18px;
    background-color: wheat;
}
input:hover {
    background-color: whitesmoke;
}
textarea {
    font-size: 18px;
    background-color: wheat;

}

textarea:hover{
    background-color: whitesmoke;

}
button {
    background-color: #fdbb2d;
    font-size: 20px;
    position: relative;
    left: 100px;
    bottom: 150px;
}
button:hover {
    background-color: cadetblue;
}
.footer{
    width: 500px;
    position: relative;
    left: 450px;
    top: 300px;
}
footer {
    position:fixed;
    color: coral;
   

}